env: dev # prod, dev

# INFO: App logging configurations
logging:
  level: info # info, debug, warn, error
  format: text # text, json

# INFO: App http server configurations
http_server:
  schema: http
  host: 0.0.0.0
  port: 7000

# INFO: Object Storage(S3) configurations
object_storage:
  endpoint: "minio:9000"
  username: dinno
  password: strongpassword
  bucket_name: artinux
  region: us-east-1
  health_check_interval: 5s
  max_retries: 10

# INFO: Upload restriction configurations
upload:
  max_size_mb: 100 # in megabytes
  allowed_file_exts:
    - yml
    - deb
